body {
  background-color: #3c5abe;
  font-family: Arial, sans-serif;
  text-align: center;
  margin:  0;
  padding: 0;
  direction: rtl;
  border-right:3px solid black ;
  border-left:3px solid black ;
  border-bottom:3px solid black ;

}
*{
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3c5abe;
  
  border-bottom: 3px solid black;
   height: 80px;
  
  border-top: 3px solid black;
  flex-wrap: wrap; 
  display: flex;
} 
.im{
  background-position: right;  
 
}


.navbar a {
  
  cursor: pointer;
  border-left: 3px solid black;
  text-decoration: none;
  background-color: #3c5abe; 
  
  justify-content: center; 
  padding:  10px 110px 0;
  height: 70px;
}

.navbar :hover {
  background-color: #a1c7e3;
  color: black;
  
}


  @media  (max-width:768px)
  {
   .navbar{
    grid-template-columns: auto;
        height: 80px;
   }
   .navbar a{
    border-left: none;
    width: 100% ;
    display: block;
    height: 50px;
    border-bottom: 3px solid black;
   }
   .navbar:hover{
    background-color:#3c5abe ;
   }
   .im{
    justify-content: center;
    margin-right: 85px;
   }
   
  }
  
  @media(max-width:768){
    .navbar a{
      height: 50px;
      width: 33px;
      padding: 50px;
      font-size: 28px;
    }
    
  }
  


  .form-box {
    background-color: #fcae91;
    display: inline-block;
    padding: 39px 45px;
    border: 10px; 
    margin: 208px 0;
  }
  @media  (max-width:768px){
    .form-box{
  margin: 300px 21px 110px
  width: 200px;
      justify-content: center;
      display: block;
    }
  }

  input[type="text"] {
    padding: 20px;
    width: 200px;
    border: 3px solid #3c5abe;
    /* border-radius: 5px; */ 
    font-weight: bold;
    font-size: 20px; 
    text-align: center;
  }
  

  button {
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #6985e3;
    border: none;
    cursor: pointer; 
    font-weight: bold;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #aaa;
  }
  
   .y 
  {
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #3c5abe;
  }
  
  .t 
  {
  color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    
  }

  .p
  {
    color: white;
    text-decoration: none;
    font-size: 30px; 
    font-weight: bold;
    cursor: pointer;
    background-color: #3c5abe;
  }
  .s{
    
    color: white;
    text-decoration: none;
    font-size: 30px; 
    font-weight: bold;
    cursor: pointer;
    background-color: #3c5abe;
  }
  
  
  
